@import "modern-normalize/modern-normalize.css";

:root {
  --white: #ffffff;
  --orange: #fc842d;
  --dark-gray: #212121;
  --light-gray: #9b9faa;
  --steel-blue: #264061;
  --shadow-orange: rgba(252, 132, 45, 0.5);
  --font-family-base: Verdana, "Segoe UI", Tahoma, Geneva, sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: var(--font-family-base);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
  outline: none;
}
