.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.formInput {
  width: 280px;
  height: 36px;
  border: none;
  border-bottom: 1px solid var(--light-gray);
  outline: none;
}

.authErrorMessage {
  margin-top: 4px;
  font-size: 12px;
  color: #e53935;
}

.formInputError {
  border-bottom-color: #e53935;
}

.formInputError::placeholder {
  color: #e53935;
  opacity: 1;
}

.formInput:-webkit-autofill,
.formInput:-webkit-autofill:hover,
.formInput:-webkit-autofill:focus,
.formInput:-webkit-autofill:active {
  -webkit-box-shadow: transparent inset;
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
}

@media (min-width: 768px) {
  .formInput {
    width: 240px;
  }
}
